<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true" scanPeriod="10 seconds">

     <!-- 콘솔 로그 설정 -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>
                {"timestamp":"%date{ISO8601}", "level":"%level", "logger":"%logger", "message":"%message", "thread":"%thread", "exception":"%ex", "memId":"%X{memId}", "ip":"%X{ip}", "requestURI":"%X{requestURI}", "userAgent":"%X{userAgent}"}
            </pattern>
        </encoder>
    </appender>

	<!-- 파일 로그 설정 -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>C:/test/logs/application.log</file>
	    
	    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
	        <fileNamePattern>C:/test/logs/application-%d{yyyy-MM-dd}.log</fileNamePattern>
	        <maxHistory>30</maxHistory>
	    </rollingPolicy>
	
	    <!-- Encoder 설정을 LogstashEncoder로 유지하고 로그 패턴을 설정 -->
	    <encoder class="net.logstash.logback.encoder.LogstashEncoder">
	        <fieldNames>
	            <timestamp>timestamp</timestamp>
	            <level>level</level>
	            <logger>logger</logger>
	            <thread>thread</thread>
	            <message>message</message>
	            <exception>exception</exception>
	            <!-- MDC 값 추가 -->
	            <mdc>
	                <memId>memId</memId>
	                <ip>ip</ip>
	                <requestURI>requestURI</requestURI>
	                <userAgent>userAgent</userAgent>
	            </mdc>
	        </fieldNames>
	    </encoder>
	</appender>

    <!-- 루트 로거 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE"/>
    </root>
    
    <!-- 특정 패키지에 대한 로깅 설정 -->
    <logger name="org.springframework.web" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>
    
    <!-- INFO 이상만 파일에 기록하도록 설정 (root 외에) -->
    <logger name="com.yourcompany" level="INFO">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- 비동기 로깅 설정 예 -->
    <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="FILE" />
    </appender>

    <!-- 애플리케이션 종료 시 자원을 정리하는 설정 -->
    <shutdownHook enabled="true" />
    
</configuration>